src/main/mule/mytrain-customer-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="customer-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8083" />
    </http:listener-config>
    <apikit:config name="customer-sapi-config" api="resource::270693a7-db96-4529-b2bd-34d4e58b14f0:customer-sapi:1.0.3:raml:zip:customer-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="483627b0-98d9-401a-9c27-8c9ec3cad9e4" file="config.yaml" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="1a35b9e0-f245-4876-992b-a3c4e4708b07">
        <db:my-sql-connection host="localhost" port="3306" user="root" password="admin" database="train" />
    </db:config>
    <flow name="customer-sapi-main">
        <http:listener config-ref="customer-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="customer-sapi-console">
        <http:listener config-ref="customer-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\users\registerUser\(id):application\json:customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="5cdf106e-b4e9-4a1a-a34b-30d8b2ee160f" name="customerid-modify-flow" />
    </flow>
    <flow name="put:\users\registerUser\subscription\(subcriptionid):application\json:customer-sapi-config">
        <ee:transform doc:name="Transform Message" doc:id="72daa3d7-a111-4a64-bfc8-bdb7ec45185c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="b7b4755c-9ff1-48c7-8634-7097f21801cf" name="usersubscription-modify-flow" />
    </flow>
    <flow name="delete:\users\registerUser\(id):customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="2d6b485c-64be-48a6-9908-b1b088faa6df" name="Customer-delete-flow" />
    </flow>
    <flow name="delete:\users\registerUser\subscription\(subcriptionid):customer-sapi-config">
        <ee:transform doc:name="Transform Message" doc:id="f583ff70-b0dd-4303-9571-785cf98797c8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\registerUser:customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="e735fd95-2362-42d0-a7d9-8840eb8d4671" name="customer-retrival-flow" />
    </flow>
    <flow name="get:\users\registerUser\subscription:customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="6d4b1302-6cd9-43ab-83af-bb9fa926fc7b" name="subscribe-user-flow" />
    </flow>
    <flow name="get:\users\registerUser\(id):customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="c068b176-8548-48b4-b8c0-b4bc1ca1916f" name="customerid-flow" />
    </flow>
    <flow name="get:\users\registerUser\subscription\(subcriptionid):customer-sapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="subcriptionid">attributes.uriParams.'subcriptionid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  subscriptionId: "1",
  userId: "1",
  source_location: "Bath",
  destination_location: "london",
  from_time: "10:30:00",
  to_time: "11:00:00",
  Advance_notify_time_min: "30:00:00",
  updatedtimestamp: "2007-11-11 T 11:20",
  creationtimestamp: "2007-11-09 T 11:20",
  statustypeID: "aa"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users\registerUser:application\json:customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="c704a8dc-2244-43f1-b7f0-a3d5684b0c26" name="customer-register-flow" />
    </flow>
    <flow name="post:\users\registerUser\subscription:application\json:customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="b3b88be0-61e3-4c73-96d3-761a94ff62c7" name="usersubcription-add-flow" />
    </flow>
</mule>
